body {
    background-color:rgb(237, 248, 244);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 10px;
    width: 90%;
}
p { 
    line-height: 1.5;
}
.grupo {
    max-width: 940px;
    margin:auto;
}
.texto1 {
    padding-bottom: 40px;
    
}

.left{
    float: left;
}


table, td, th {
    border: 1px solid black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
#folha {
    background-color: rgb(237, 248, 244);
    margin: auto;
}
#textointro {
    text-align: center;
    font-size: 18px;
    max-width: 750px;
    margin: auto;
}
#galeria {
    text-align: center;
    margin: auto;
    padding: 20px;
}

.menu {
    text-align: center;
    padding: 30px;
}
.menu li {
    display: inline;
    font-size:20px;
    }
.menu a {
    text-decoration: none;
    color:black;
    padding: 12px;
    font-weight: bold;
}
div.gallery {
    border: 0px solid #ccc;
  }
  
  div.gallery:hover {
    border: 0px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
/*botão*/
  
  .button {
    display: inline-block;
    border-radius: 10px;
    background-color: #10bb67;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .container { 
    height: 100px;
    position: relative;
    border: 3px; 
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
